*{
  box-sizing: border-box;
  @media (max-width: 640px)
}

/* body css */
body {
  background: linear-gradient(342deg, rgb(45, 43, 58) 0%, rgba(69,64,74,1) 47%, rgb(30, 27, 39) 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 5px;
  margin: 20px;
}  
  

/* hearder css */
#header-image{
    background-image: url(/images/kle-beach-header.png);
    background-color: #4a4a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
    width: 100;
    text-align: right;
    height: 210px;
 }

#my-kle{
  background-color: #a1a1a3;
  margin-top: 15px;
  float: left;
  margin-left: 20px;
  padding: 15px;
  width: 30%;
  border-radius: 2rem;
}

#my-return{
  background-color: #545455;
  float: left;
  margin-top: 40px;
  margin-left: 20px;
  padding: 15px;
  width: 30%;

  border-radius: 2rem;
}

#dual-article{
  background-color:darkslategrey;
  float: left;
  margin-top: 25px;
  margin-left: 20px;
  padding: 15px;
  width: 30%;
  border-radius: 2rem;

}
#specs-image {
  background-image: url(/images/kle-specs-header.png);
  background-color: #4a4a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0%;
  width: 100;
  height: 210px;
  padding: 20px;
}
div, h2 {text-align: center;}
div > #specs-bgd {
  background: url(/images/gears3.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  margin: 0%;
  width: 100;
}


.specs, table {
  float: right;
  width: 65%;
  padding: 15px;
  margin: 5px;
  border-collapse: collapse;
  background: #545455;
  color: #a1a1a3;
 
  
}
.model-history, table {
  float: left;
  width: 30%;
  padding: 15px;
  margin: 5px;
  border-collapse: collapse;
  background: #eaecf0;
  color: #a1a1a3;
}

  table, th, td {
    border: 1px solid black;
    text-align: center;
  }
  

  footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #4a4a;
  padding: 1em;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  font-style: italic;
  text-align: right;
  }
  



